{% extends 'template.html' %}

{% block content %}
<div id="about-container">
    <h1>About</h1>

    <p>This Recipe Management System is created by Alex Goose, 
        designed to help users easily organize and explore recipes. 
        Built on a robust foundation of modern web technologies, 
        this application integrates Python, Flask, SQL, HTML, and CSS to 
        provide a seamless and professional user experience. 
    </p>
    
    <br>

    <p>
        Relying on Heroku for deployment and utilizing a postgres
        database, recipes are easy to access and safe from getting lost.
    </p>

    <br>
    
    <p>
        My mission is to only have to visit a food blog once. Gone are the 
        days of relying on screenshots or dealing with annoying pop ups. Just 
        add the recipe to the database and access it whenever you want.
    </p>
</div>

{% endblock %}