{% extends 'template.html' %}

{% block content %}

<div id="add_recipe_container">
    <form action="/add_recipe" method="post">
        <label for="Recipe Name">Recipe Name: </label><br>
        <input type="text" id="new_recipe_name" name="new_recipe_name" placeholder="Enter recipe name..." required>
        <br><br>
    
        <!-- ADD ingredients -->
        <label for="ingredients">Ingredients: </label><br>
        <input type="text" class="ingredient" name="ingredient" placeholder="Enter new ingredient..." required><br>

        <!-- stores new ing lines -->
        <div id="add_new_ing_line_container">

        </div>
        <button type="button" id="add_new_ing_line_button">Add Line</button>
    
        <br>
        <!-- ADD instructions -->
        <label for="instructions">Instructions: </label><br>
        <input type="text" class="instruction" name="instruction" placeholder="Enter new instruction..." required><br>

        <!-- stores new instr lines-->
        <div id="add_new_instr_line_container">

        </div>
        <button type="button" id="add_new_instr_line_button">Add Line</button>
        <br><br>
    
        <input id="submit_recipe" type="submit">
    </form>
</div>
<br><br><br>

{% endblock %}