{% extends 'template.html' %}

<!-- This page will list out all recipes and link to instructions -->
{% block content %}
<div class="recipe_list_container">
    <h3 class="recipe_list_title">Recipes:</h3>
    <ul>
        <!-- recipes is a tuple of name, recID pulled in fetchRecipeNames.
        creates a list element for each recipe in the DB and links to it -->
        {% for name, recID in recipes %}
        
        <div class="reicpe_item_link">
            <!-- <li><a class="recipe_link" href="{{ url_for('viewRec', dbName='recipe.db', recID=recID) }}">{{ name }}</a></li> -->
            <li><a class="recipe_link" href="{{ url_for('viewRec', recID=recID) }}">{{ name }}</a></li>
            <!-- will eventually have an edit button for each recipe... -->
            <!-- <button>Edit</button> -->
        </div>
            
        {% endfor %}
    </ul>
</div>

<br><br><br>
{% endblock %}
