{% extends 'template.html' %}

<!-- {% block title %}
recipes
{% endblock %} -->

{% block content %}

<div class="print_recipe_container">

    <!-- Recipe name -->
    <h1>{{ recipe_name }}</h1>
    
    <!-- Displays ingredients -->
    <h3>Ingredients:</h3>
    <ul>
        {% for ing in ingredients %}
            <li class="viewrec_item">{{ ing }}</li>
        {% endfor %}
    </ul>

    <!-- Displays instructions -->
    <h3>Instructions:</h3>
    <ol>
        {% for instr in instructions %}
            <li class="viewrec_item">{{ instr }}</li>
        {% endfor %}
    </ol>

</div>
{% endblock content %}