{% extends 'template.html' %}

<!-- {% block title %}
recipes
{% endblock %} -->

{% block content %}

<div class="print_recipe_container">

    <!-- Recipe name -->
    <h1>{{ recipe_name }}</h1>
    
    <!-- Displays ingredients -->
    <h3>Ingredients:</h3>
    <ul>
        {% for ing in ingredients %}
            <li class="viewrec_item">{{ ing }}</li>
        {% endfor %}
    </ul>

    <!-- Displays instructions -->
    <h3>Instructions:</h3>
    <ol>
        {% for instr in instructions %}
            <li class="viewrec_item">{{ instr }}</li>
        {% endfor %}
    </ol>

    <div id="edit-buttons">
        <form action="{{ url_for('beginEditRecipe', recID=recID) }}" method="post">
            <button class="clicked-edit" type="submit">Edit</button>
        </form>
    
        <form action="{{ url_for('deleteRecipe', recID=recID) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this recipe?')">
            <button class="delete" type="submit">Delete</button>
        </form>
    </div>


</div>
{% endblock content %}